version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-api
    restart: unless-stopped
    ports:
      - "${PORT:-3000}:3000"
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      PORT: ${PORT:-3000}
      DB_HOST: ${DB_HOST:-postgres-database-capacita}
      DB_PORT: ${DB_PORT:-5432}
      DB_USERNAME: ${DB_USERNAME:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-hUVuI9ubWTO2lIIaKyYaWCN9p6TcCMEGj41i0NBIHRUAPrcXxDLT523LBffPmRXq}
      DB_DATABASE: ${DB_DATABASE:-postgres}
      CORS_ORIGINS: http://localhost:4200,https://capacita.logicaisolutions.com
    command: sh -c "npm run migration:run && node dist/src/main.js"
    labels:
      - "coolify.managed=true"
      - "coolify.type=application"
      - "coolify.name=nestjs-api"
    expose:
      - "3000"


