version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-api
    restart: unless-stopped
    ports:
      - "${PORT:-3000}:3000"
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      PORT: ${PORT:-3000}
      DB_HOST: ${DB_HOST:-zscs4ssg44g8c8w48c8ogkk4}
      DB_PORT: ${DB_PORT:-5432}
      DB_USERNAME: ${DB_USERNAME:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-BcEmJburVzsU2epJuhvjg600533cHd9ZLRJdCztvlxlmBUXWO6V5BFIdIxsJ8AGL}
      DB_DATABASE: ${DB_DATABASE:-postgres}
      CORS_ORIGINS: http://localhost:4200,https://capacita.logicaisolutions.com
    command: sh -c "npm run migration:run && node dist/src/main.js"
    labels:
      - "coolify.managed=true"
      - "coolify.type=application"
      - "coolify.name=nestjs-api"
    networks:
      - coolify
    expose:
      - "3000"

networks:
  coolify:
    external: true
    name: coolify


